<!-- footer -->                                           

<footer id="footer"> <!-- Footer HTML element for the bottom section of the page, identified by 'footer' ID -->

  <div class="main-content"> <!-- Div element for the main content of the footer, using 'main-content' class for styling -->

    <div class="footer-content"> <!-- Div element for the inner content of the footer, using 'footer-content' class for styling -->
        
        <hr class="footer-divider"> <!-- Horizontal rule element for a visual divider, using 'footer-divider' class for styling. Used for dividing the icons and copyright text in footer -->
        
        <h5>&#169; 2023 Omied Muhebi<br>All Rights Reserved</h5> <!-- Footer text indicating copyright and ownership, with a line break -->

    </div>
    
  </div>
  
</footer>                                             
