<!-- About page content -->                           

<main id="about-me-main"> <!-- Main HTML element for the about page, identified by 'about-me-main' ID -->

<% if (currentPage === 'about') { %> <!-- EJS conditional statement to check if the variable 'currentPage' is equal to 'about' -->

<article id="article-for-about"> <!-- Article HTML element for the main content about the user, identified by 'article-for-about' ID -->

  <aside class="aside-for-about"> <!-- Aside HTML element for the sidebar content, using 'aside-for-about' class for styling -->
  
    <figure class="figure-for-about"> <!-- Figure HTML element as a container for image and its caption, using 'figure-for-about' class for styling -->
    
      <!-- Image depicting the user with a sunset in the background -->
      <img src="Assets/images/20220703_204923.jpg" alt="Me with a sunset in the background">
      
      <figcaption> <!-- Figcaption HTML element for the caption of the image -->
        <h5>Photo of me with a beautiful sunset</h5> <!-- Header for the caption -->
      </figcaption>
      
    </figure>
    
  </aside>

  <section id="section-for-about"> <!-- Main section HTML element containing details about the user, identified by 'section-for-about' ID -->
  
    <h3><%= titleofpage%></h3> <!-- Header for this section, dynamically set by the 'titleofpage' EJS variable -->
    
    <!-- Paragraph detailing about the user -->
    <p class="about-me-paragraph1">
      <%= paragraph1_aboutpage%> <!-- Content of the paragraph, dynamically set by the 'paragraph1_aboutpage' EJS variable -->
    </p>
    
  </section>
  
</article>

<div id="video-container"> <!-- Div HTML element as a container for video content, identified by 'video-container' ID -->

  <figure class="video-figure"> <!-- Figure HTML element as a container for the video and its caption, using 'video-figure' class for styling -->
  
    <figcaption class="video-caption"> <!-- Figcaption HTML element for the caption of the video, using 'video-caption' class for styling -->
      <h5>Short video about me</h5> <!-- Header for the caption -->
    </figcaption>
    
    <!-- Video content with controls for playback -->
    <video id="video" width="390" height="217" controls>
    
      <!-- Sources for the video for compatibility with different browsers -->
      <source src="Assets/videos/aboutme2.mp4" type="video/mp4">
      <source src="Assets/videos/Aboutme3.ogv" type="video/ogv">
      
      <!-- Fallback message for browsers that don't support the video tag -->
      Your browser doesn't support the video tag.
      
    </video>
    
    <br> <!-- Line break -->
    
    <!-- Button to play or pause the video -->
    <button class="about-button" onclick="playPause()">Play or pause the video</button>
    
    <!-- Inline JavaScript to toggle play and pause for the video -->
    <script src="/Scripts/play_pauseButton.js">
    </script>
    
  </figure>
  
  <% } %> <!-- End of the EJS conditional statement -->
  
</div>

</main> 
