<!-- footer -->                                           

<footer id="footer"> <!-- Footer HTML element for the bottom section of the page, identified by 'footer' ID -->

  <div class="main-content"> <!-- Div element for the main content of the footer, using 'main-content' class for styling -->

    <div class="footer-content"> <!-- Div element for the inner content of the footer, using 'footer-content' class for styling -->

        <div class="footer-links"> <!-- Div element for the footer links, using 'footer-links' class for styling -->
        
            <!-- LinkedIn link with icon, opens in a new tab/window -->
            <a href="https://www.linkedin.com/in/omied-muhebi-9a2371291/" title="Visit my LinkedIn Profile" target="_blank" rel="noopener noreferrer"> 
            <i class="fa-brands fa-linkedin fa-2xl"></i></a> <!-- FontAwesome LinkedIn icon -->
            
            <!-- GitHub link with icon, opens in a new tab/window -->
            <a href="https://github.com/omiedmuhebi?tab=repositories" title="Check out my GitHub repositories" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github fa-2xl"></i></a> <!-- FontAwesome GitHub icon -->
            
        </div>
        
        <hr class="footer-divider"> <!-- Horizontal rule element for a visual divider, using 'footer-divider' class for styling. Used for dividing the icons and copyright text in footer -->
        
        <h5>&#169; 2023 Omied Muhebi<br>All Rights Reserved</h5> <!-- Footer text indicating copyright and ownership, with a line break -->

    </div>
    
  </div>
  
</footer>                                             
