<!-- home page content -->                             

<% if (currentPage === 'home') { %> <!-- EJS statement to check if the variable 'currentPage' is equal to 'home' -->

  <div id="home-page"> <!-- HTML div element for the home page, identified by 'home-page' ID -->
  
    <div id="container-home-text"> <!-- HTML div element for containing the home page text, identified by 'container-home-text' ID -->
    
      <div class="container-homepage-content"> <!-- HTML div element for the content container on the home page, using the 'container-homepage-content' class for styling -->
      
        <p class="greeting-home"> <!-- HTML paragraph element with 'greeting-home' class for styling -->
        
          <%= homegreeting1%><br><%= homegreeting2%> <!-- EJS statements to output the variables 'homegreeting1' and 'homegreeting2'. The '<br>' tag is used for a line break between these two greetings. -->
          
        </p> <!-- End of the HTML paragraph element -->
        
      </div> <!-- End of the div element for the content container -->
      
    </div> <!-- End of the div element for the text container -->
    
  </div> <!-- End of the div element for the home page -->
  
<% } %> <!-- End of the EJS if statement -->
