/* Global style for all elements */
* {
  font-family: 'Poppins', sans-serif;  /* Sets the default font family to 'Poppins', with a fallback to sans-serif for all elements. */
  box-sizing: border-box;  /* Modifies the CSS box model to calculate widths and heights including padding and borders. */
}

/* Styles for homepage content */
body.homeBackground {
  margin: 0; /* Removes the margin around the body element. */
  padding: 0; /* Removes the padding around the body element. */
  background-color: rgb(0, 132, 255); /* Sets a soft, light blue background color. */
}

#content {
  display: flex; /* Enables flexbox layout which is a more efficient way to lay out, align and distribute space among items in a container. */
  justify-content: center; /* Horizontally centers the content within the flex container. */
  align-items: center; /* Vertically centers the content within the flex container. */
  min-height: 100vh; /* Sets minimum height of the content to 100% of the viewport height. */
  flex-direction: column; /* Stacks the flex items vertically. */
  padding: 15px; /* Adds padding around the content. */
}

.homeBody {
  background-color: rgba(0, 0, 0, 0.4); /* Sets a semi-transparent black background for contrast. */
  padding: 20px; /* Adds padding inside the .homeBody element. */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow around the element. */
  border-radius: 10px; /* Rounds the corners of the element. */
  text-align: center; /* Centers the text inside the .homeBody element. */
  max-width: 800px; /* Sets a maximum width of the element to 800px. */
  width: 100%; /* Makes the element width responsive, taking up 100% of the parent width. */
  margin: 20px; /* Adds margin around the element. */
  color: #333333; /* Sets a dark grey color for text inside the element. */
}

/* Responsive text size for smaller screens */
.headingHome h1, .headingHome h2 {
  font-size: 1.8rem; /* Sets a default font size for h1 and h2 headings inside .headingHome. */
  margin: 10px 0; /* Adds vertical margin to the headings. */
}

/* Responsive text size for larger screens */
@media only screen and (min-width: 960px) {
  .headingHome h1 {
    font-size: 2.5rem; /* Increases font size for h1 on screens wider than 960px. */
    color: white; /* Sets font color to white for h1. */
  }
  .headingHome h2 {
    font-size: 2rem; /* Increases font size for h2 on screens wider than 960px. */
    color: white; /* Sets font color to white for h2. */
  }
}

.text-homePage {
  font-size: 1rem; /* Sets a default font size for text in the .text-homePage element. */
  margin: 20px 0; /* Adds vertical margin to the text. */
  color: white; /* Sets the text color to white. */
}

/* Styles for the button */
.buttonHome {
  background-color: #4CAF50; /* Sets the background color of the button to a shade of green. */
  color: white; /* Sets the text color of the button to white. */
  padding: 10px 20px; /* Adds padding inside the button. */
  border: none; /* Removes the border from the button. */
  border-radius: 5px; /* Rounds the corners of the button. */
  text-decoration: none; /* Removes any text decoration (like underlines) from the button. */
  font-size: 1rem; /* Sets the font size of the button text. */
  transition: background-color 0.3s; /* Adds a transition effect when the background color changes. */
  cursor: pointer; /* Changes the cursor to a pointer when hovering over the button. */
}

.buttonHome:hover {
  background-color: green; /* Changes the background color of the button to green when hovered. */
}

/* Footer Styles */
#footer {
  background-color: black; /* Sets the background color of the footer to black. */
  padding: 2vw 0; /* Adds vertical padding to the footer based on the width of the viewport. */
  color: #fafafa; /* Sets the text color in the footer to a light grey. */
  position: relative; /* Sets the position of the footer to relative. */
  bottom: 0; /* Positions the footer at the bottom of its parent element. */
  width: 100%; /* Sets the width of the footer to 100% of its parent element. */
  margin: 0; /* Removes any margin around the footer. */
}

.footer-content {
  max-width: 100%; /* Ensures the footer content doesn't exceed the width of its container. */
  margin: 0 auto; /* Centers the footer content horizontally within its container. */
  padding: 0 1.5vw; /* Adds horizontal padding based on the width of the viewport. */
  display: flex; /* Enables flexbox layout for the footer content. */
  flex-direction: column; /* Stacks flex items vertically in the footer. */
  text-align: center; /* Centers the text inside the footer content. */
  align-items: center; /* Centers the items vertically within the footer content. */
}

.footer-divider {
  width: 90%; /* Sets the width of the footer divider to 90% of its parent element. */
  border: none; /* Removes any border from the divider. */
  height: 0.15vw; /* Sets the height of the divider based on the width of the viewport. */
  background-color: white; /* Sets the background color of the divider to white. */
}

#footer h5 {
  margin: 0; /* Removes any margin around the h5 heading in the footer. */
  font-size: 1.5vw; /* Sets the font size of the h5 heading based on the width of the viewport. */
  line-height: 1.5; /* Sets the line height for the h5 heading to 1.5 times the font size. */
}

.footer-links {
  display: flex; /* Enables flexbox layout for footer links. */
}

.footer-links a {
  color: #fafafa; /* Sets the text color of the footer links to a light grey. */
  transition: transform 0.3s ease, color 0.3s ease; /* Adds a transition effect for transform and color properties. */
  padding: 1vw; /* Adds padding around the links based on the width of the viewport. */
}

.footer-links a:hover {
  transform: translateY(-5px); /* Moves the link up 5px when hovered. */
}
